*/*Set's border, padding and margin to 0 for all values*/
{
    padding: 0;
    margin: 0;
    border: 0;
}
body, html {
    color: #373C40;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #f0f0f0;
    margin:10px;
}
body{
    font-size: 70%;
}
p{
    padding: 7px 0 7px 0;
    font-weight: 500;
    font-size: 10pt;
}
a{
    color: #656565;
    text-decoration:none;
}
a:hover{
    color: #abda0f;
    text-decoration: none;
}
h1 {
    font-weight:200;
    color: #888888;
    font-size:16pt;
    background: transparent url(../images/circ.png) no-repeat center left;
    padding-left:33px;
    margin:7px 5px 25px 8px;
}
h4 {
    padding:1px;
    color: #ACACAC;
    font-size:9pt;
    font-weight:100;
    text-transform:uppercase;
}
form{
    width:800px;
    margin: 20px auto 0px auto;
    height:555px;
    background-color:#fff;
    padding:5px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}
/*.banner{
	height: 57px;
	background: url(../images/pipe-material.png) no-repeat right;

}*/
form p{
    font-size: 8pt;
    clear:both;
    margin: 0;
    color:gray;
    padding:4px;
}
.row1, .row2 , .row3{
	width: 795px;
	height: 205px;
}
.row3 {
	height: 40px;
}
.outputs {
	display: block;
	z-index: 50;
	height: 100%;
	overflow: hidden;
}
form fieldset.cola {
    width:48%;
    padding:5px;
    float:left;
    border-top:1px solid #F5F5F5;
	border-right:1px solid #F1F1F1;
    margin-bottom:0px;
}
form fieldset.colb{
    width:48%;
    padding:5px;
    float:left;
    border-top:1px solid #F5F5F5;
    margin-bottom:15px;
}
form fieldset.bottom {
    width:80%;
    padding:5px;
    float:left;
    border-top:1px solid #F5F5F5;
    margin-bottom:0px;
}
form fieldset.row3{
    border-top:1px solid #F1F1F1;
    padding:5px;
    float:left;
    clear:both;
    width:440px;
}
form legend{
    color: #e96e57;
    font-weight:bold;
    font-size: 14px;
    font-weight:100;
}
form label{
    color:#444;
    width:98px;
    float: left;
    text-align: right;
    margin-top:0px;
	vertical-align: middle;
}
form input{
    width: 140px;
    color: #505050;
    float: left;
	padding-left: 2px;
    margin-right: 5px;
	margin-left: 5px;
}
form input.long{
    width: 247px;
    color: #505050;
}
form input.short{
    width: 40px;
    color: #505050;
}
form input.medium{
    width: 80px;
    color: #505050;
}
form input{
	border-radius: 4px;
    height: 18px;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}
::-webkit-input-placeholder {
	font-style: italic;
	color: #A4AE89;
}
.noalert {
	border: 1px solid #E1E1E1;
}
input:focus, select:focus{
    background-color: #E0F2F7;
}
.button {
	float:left;
	padding: 0px 8px 10px 8px;
	margin:10px;
	vertical-align: middle;
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7eb9cf), color-stop(1, #7eb9cf) );
	background:-moz-linear-gradient( center top, #7eb9cf 5%, #7eb9cf 100% );
	background-color:#79bbff;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 2px #528ecc;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #44a5c9), color-stop(1, #44a5c9) );
	background:-moz-linear-gradient( center top, #44a5c9 5%, #44a5c9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#44a5c9;
}
.button:active {
	border: none;
	outline-style: none;
	outline-width:0;
	position:relative;
	top:1px;
}
.button:focus {
	border: none;
	outline-style: none;
	outline-width:0;
	position:relative;
}


/* BEGIN POPUP TOOLTIP CSS*/
.tooltip {
	outline:none;
    width:35px;
    float: left;
	vertical-align: middle;
    text-align: left;
    margin-right: 6px;
    margin-top:0px;
	background: url('../images/toolbar_get_info.png') no-repeat center;
	background-size: 15px;
}
.tooltip strong {line-height:30px; font-weight:bold; font-size: 16px;}
.tooltip:hover {text-decoration:none;} 
.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:240px; line-height:16px;
	text-align:justify; text-justify:newspaper;
}
.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:25px;border:0;left:-12px;}
    
/*CSS3 extras*/
.tooltip span
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
        
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}
/* END POPUP TOOLTIP CSS*/




