.info, .success, .warning, .error, .validation {
	border: 1px solid;
	margin: 5px 0px;
	padding:10px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.info {
	z-index: 51;
    color: #00529B;
    background-color: #BDE5F8;
	border-radius: 5px;
}
.warning {
	z-index: 51;
    color: #9F6000;
    background-color: #FEEFB3;
	border-radius: 5px;
}
.error {
	z-index: 51;
    color: #D8000C;
    background-color: #FFBABA;
	border-radius: 5px;
}
.errorbox {
	border: 1px solid #E60000;
	box-shadow: 0 0 6px #FFBABA;
}
.warningbox {
	border: 1px solid #FFD119;
	box-shadow: 0 0 6px #FEEFB3;
}